* {
  box-sizing: border-box;
}

body {
  background-image: url("/public/img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  background: #222;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marca {
  color: white;
  font-weight: bold;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.contenedor {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-image: url("/public/img/fondo.jpg");
}

.inicio {
  text-align: center;
}

h1 {
  text-align: center;
}

.imagen-principal {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.descripcion {
  max-width: 700px;
  margin: 20px auto;
  line-height: 1.6;
}

.formulario {
  max-width: 550px;
  margin: auto;
}

.campo {
  margin-bottom: 15px;
}

.campo label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.campo input,
.campo select {
  width: 100%;
  padding: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.mensaje {
  padding: 12px;
  margin: 15px 0;
}

.exito {
  background: #e7f7e7;
}

.error {
  background: #fde2e2;
}

footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}

.pagina-pedidos-fondo {
  padding: 30px;
  min-height: 520px;

  background-image:
    linear-gradient(rgba(255, 255, 255, 0.86), rgba(255, 255, 255, 0.86)),
    url("/public/img/fondo.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
